body {
    font-family: 'Oswald', sans-serif;
    background-color: #FDF6E3;
    color: rgb(67, 71, 109);
}
header, main, footer {
    width: 1040px;
    margin: 0 auto;
}



* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

#wrapper, #wrapper1{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
}
header{
    height: 120px;
    
}
main{
    padding-bottom: 100px;
}
footer{
    margin: -100px auto 0;
    position: relative;
    height: 100px;
}
#mainnav ul {
list-style: none;
margin: 0;
padding-left: 0;


}
#mainnav a:hover{
text-decoration: underline;


}
#mainav li {
display: inline;



}
#mainnav li.active a{
font-weight: bold;

}
.new::after {}
#mainnav a {
text-decoration: none;

}
.main_img-float {
    width: 550px;
    margin-right: 40px;
    float: left;
}
#panorama {
    width: 100%;
    height: 150px;
    background: url(../img/555.png) no-repeat center 70%;
    background-size: cover;
}
.services_img{
    width: 240px;
}
.services_item{
    margin-left: 40px;
    margin-right: 40px;
    width: 240px;
    float: left;
}
.services_item a{
    text-decoration: none;
    color: rgb(255, 248, 252);


}
.services{
    padding: 35px;
    border: 5px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.h1--invisible{
    visibility: hidden;
}

#logo {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(63, 72, 83);
    font-weight: bold;
    font-size: 24px;
    line-height: 100px;
    display: inline-block;
    width: 335;
    float: left;
}

.main_img-float1 {
    margin-top: 50px;
    width: 550px;
    margin: 0 auto;
    float: none;
    display: block;;
    
}

.text_about{
    text-align: justify;
    width: 550px;
    margin: 0 auto;
    margin-top: 20px;
}
h1{
    margin: 20px;
    text-align: center;
}

.footer_block, .footer_icons{
    display:inline-block;
    width: 340px;
    text-transform: uppercase;
    text-align: center;

}

.footer_icons{
    text-align: right;
    margin-left: 10px;
}
.footer_img{
    width: 30px;

}
.text_contact{
    text-align: center;
    margin-top: 30px;
    font-size: larger;



}
.www {
    color: rgb(247, 59, 12);
}
h1, h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;

}
mark {
    background-color: rgb(46, 43, 44);
    color: rgb(130, 152, 223);
    text-transform: uppercase;
    }
.text_contact{
    text-align: center;
    margin-top: 30px;
    font-size: large;
    font-size: 25px;
}
.text_contact a{
    color: rgb(19, 209, 171);
    text-transform: uppercase;
}
.wiw li  {
color:rgb(6, 230, 25);



}
.colored-text p {
    color: red;
  }
  table {
    border:5px solid rgb(69, 6, 243); 
    border-collapse: collapse;
    margin: 10px;
  }
  td, th {
border: 2px solid white;
margin: 10px;

  }
  .price th:first-child{
width: 10%;
margin: 10px;


  }
  .price th:nth-child(2), .price th:last-child {
  width: 25%;
  margin: 10px;

  }
  tr:nth-child(odd) {
    background-color:rgb(13, 21, 37)
}